* {
  margin: 0;
  bottom: 0;
}

a:hover{
  color: red;
}

div{
  border:1px solid red;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  
  
  /* выше установили ограничения для секции */
}

/* Тут я настраиваю лого*/
.logo{
  background-image: url(../images/logo_place_header.svg);
  background-size: contain;
  background-repeat: no-repeat;
  
}

/* тут я настроил позиционирование и отсутпы */
.header__logo{
  display: inline-block;
  height: 32px;
  width: 183px;
  position: absolute;
  top: 30px;
  left: 64px; 
  z-index: 1;

}

/* настраиваю отображение элемента (текс h1) */
.header__flex-title {
height: 100vh;
width: 730px;
margin-left: 64px;
display: flex;
flex-direction: column;
justify-content: center;

}
/* тут я указал размер шрифта (текс h1)*/
.header__title {
  
 line-height: 96px;
 font-size: 102px;
 font-weight: 700;
 
}

/* я прописываю правила для субтайтла (h2) отступы, позицию  */
.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 1;
}
/* правило конкретно для текста (h2) высоту, ширину, длину*/
.subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* Убрал подчёркивание ссылки*/
.header__link {
  text-decoration: none;
  color:#2f80ed;
}



/* установил размеры для изображения*/
.main-image {
display: inline-block;
height: 608px;
width: 765px;

}

/* для изображения определил позицию и место */
.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  
}


/* Размеры квадрата, определенны до меня*/
.header__square-pic {

  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;


 
}
 
/*положения квадрата */
.square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 0;
}

/* отсутп от шапки*/
.description__margin {
margin-top: 100px;
}

/*  преобразовал в флекс, отцентрировал*/
.description{
  display:flex;
  
  justify-content:center;

}
/* указал общую ширину для всего блока*/
.two-columns{
  width:80%;
  display:flex;
  justify-content:space-between;
}
 /* указал размер и дисплей только для бриффа*/
.two-columns__brief {
  width:175px;
  display: flex;
 
}

/*размеры текста "главные проблемы обучения*/
.two-columns__brief-text{

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width:784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


/* размеры шрифта для h2 */
.paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

/*отступ новоого блока*/
.digits {
margin-top: 100px;

}
/*размер для сексции с титульником/субтитулником */
.section-width{
  width: 60%;
  margin: 0 auto;
  
  
}
/*значения для h2 титульника*/
.section-title-digits{
line-height: 1.15;
font-size: 60px;
font-weight: 700;
text-align: center;
}

/*отсуп 20 пикселей*/
.table_margin{
  margin-bottom: 20px;
}
/* значения для субтитульника h3*/
.section-subtitle-digits{ 
line-height: 34px;
font-size: 24px;
font-weight: normal;
text-align: center;

}
/* размер для новой ячейки*/
.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self:center;
}
/*оступ внутри ячейки*/
.table__padding {
  padding-top: 60px;
  display: flex;
  
}

.table__cell{
  width: 250px;
  
}

/*текс для заголовков в таблице*/
.table__heading{
  line-height:1.15;
  font-size: 24px;
  font-weight: 700;
}
/* текст основной в таблице*/
.table__text{
line-height: 1.2;
font-size: 18px;
font-weight: normal;
}


.table-two{
  display: flex;
}

/*класс отсупа 100px*/
.digits-end{
  margin-bottom: 100px;
}

.feinman{
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;

}

.feinman__title{
  margin: 100px auto 0px;
  width: 648px;
}


.feinman__title-text{
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
}

.feinman__subtitle {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.feinman__subtitle-text{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;

}

.feynman__link-text{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
/*цвет и нижнее подчёркивание*/
.feynman__link-color{
  text-decoration: none;
  color: black;
}


.feynman__image-position{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
  

.kaufman{
  padding-top:90px;
  background-color: #1f1f1f ;
  padding-bottom:90px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.section-title__theme_dark {
  line-height: 69px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: white; 
}

.section-subtitle__theme_dark{
  line-height: 34px;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  color: white;
}


.table__theme_dark {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self:center;
  color: white;
 
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text_theme_dark{
  line-height:1.2;
  font-size:18px;
  font-weight:normal;
}

.kaufman__triangle{
  width:877px;
  height:877px;
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  right: -210px;
  top: 0px;
  z-index: -1;
  
}

.footer{
  padding-top: 60px;

  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  flex-basis: 711px;
  color: white;
}

.footer__columns{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
}

.footer__column-copyright {
  height: 100%;
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
/* Значения для загаловка(h3) текста в футере*/
.table__heading_footer{
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
/*значения для текста(h4) в футере*/
.table__text_footer{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: inline;
}

/* значения для втсавки копирайта, определяю как флекс.*/
.footer__column-copyright_50{
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
/* значения для лого в футере, в отличии от родителя, определён свой флекс */
.logog__place_footer{
display: inline-block;
height: 35px;
width: 183px;
display: flex;
flex-direction: row;
justify-content:space-between;
}

/* значения для автора(копирайта) инлайн-блок+отсутпы сверху и снизу*/
.footer__author {
position: relative;
display: inline-block;
margin: 18px 0;
}
/* размер шрифта дял автора(копирайта) */
.footer__author_text{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  

}
/*значение для ссылки, цвет,декорация*/
.table__link_white{
  text-decoration: none;
  color: white;
  display: block;
}

/*отсупт для img и определение их дисплея*/
.footer__social-icon{
  margin: 0 10px 0 0;
  display: inline;
}

/*свойство исключительно для отсутпа, можно убрать в HTML отдельный DIV, и перенозначить как свойства для блока*/
.table__padding_botom{
 padding-bottom: 16px;
}

